/* START GENERAL */
@font-face {
    font-family: Vazirmatn;
    src: url(../FONT/Vazirmatn-VariableFont_wght.ttf);
}
::-webkit-scrollbar {
    scroll-behavior: smooth;
    width: 0px;
}
ins {
    text-decoration: none;
}
* {
    font-family: Vazirmatn;
    direction: rtl;
    color: #0f4857;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}
.flash-message {
    display: block;
    border-radius: 4px;
    margin: 0 0 5%;
    width: 100%;
    text-align: right;
}
.alert {
    width: 100%;
    padding: 3% 10% 3% 1%;
    color: white;
}
.alert:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.alert:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.alert-danger {
    background-color: #C10015;
}
.alert-success {
    background-color: #21BA45;
}
.alert-info {
    background-color: gray;
}
.alert-warning {
    background-color: #F2C037;
}
a {
    text-decoration: none;
    background-color: inherit;
    color: inherit;
    cursor: pointer;
}
.mainBox {
    margin: 0;
    border: 0;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 0 5% 0 5%;
}
.active {
    color: #1f9e67 !important;
}
.link {
    text-decoration: none;
    border-left: 1px solid rgba(192, 192, 192, 0.5);
}
.link:first-child {
    border-right: 1px solid rgba(192, 192, 192, 0.5);
}
.link:visited {
    color: #0f4857;
}
.link:link {
    color: #0f4857;
}
.link:active {
    color: #0f4857;
}
.box {
    display: inline-block;
}
.whiteSpace {
    height: 50px;
}
.discount {
    z-index: 2;
    background-color: #1f9e67;
    color: white;
    padding: 1%;
    width: auto;
    height: auto;
    font-weight: bold;
    font-size: x-small;
    border-radius: 50%;
    position: absolute;
    transform: translate(25%, -50%);
}
.discount::after{
    content: 'تخفیف';
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #1f9e67;
    color: white;
    cursor: pointer;
    padding: 0.4% 1%;
    border-radius: 50%;
    font-size: x-large;
    box-shadow: 1px 1px 3px #1f9e67, -1px -1px 3px #1f9e67, 1px -1px 3px #1f9e67, -1px 1px 3px #1f9e67;
    transition: all 1s ease;
}
  
#myBtn:hover {
    background-color: #1f9e67;
    box-shadow: 3px 3px 9px #1f9e67, -3px -3px 9px #1f9e67, 3px -3px 9px #1f9e67, -3px 3px 9px #1f9e67;
    transition: all 1s ease;
}
/* END GENERAL */

/* START TOP BAR SECTION */

.topHeader {
    background-color: rgb(232, 232, 232);
    border-top: 1px solid silver ;
    border-bottom: 1px solid silver ;
    position: sticky;
    top: 0;
    z-index: 10;
}

button.inlineLogin {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(232, 232, 232);
}

button.inlineLogin:hover {
    color: #1f9e67;
    transition: all 0.3s;
}

p.inlineDate {
    display: inline-block;
    margin: 0 55% 0 0;
}
/* END TOP BAR SECTION */

/* START TOP BAR LOGO  */
.topBarLogo {
    text-align: center;
}
.topBarLogo img {
    width: 300px;
    height: 200px;
    padding: 10px 0;
}
/* END TOP BAR LOGO  */

/* START MENU  */
.linkMenu {
    text-decoration: none;
}
.linkMenu:visited {
    color: #0f4857;
}
.linkMenu:link {
    color: #0f4857;
}
.linkMenu:active {
    color: #0f4857;
}

.menu {
    background-color: rgb(232, 232, 232);
    text-align: center;
    border-top: 1px solid silver ;
    border-bottom: 1px solid silver ;
    position: sticky;
    top: 40px;
    z-index: 10;
}
.menu ul {
    display: inline-block;
    list-style-type: none;
}
.menu li {
    display: inline-block;
    padding: 0 20px;
}
.menu li:hover {
    color: #1f9e67;
    transition: all 0.3s;
}
.menu li.dropdown button:hover  {
    color: #1f9e67;
}

.menu li.dropdown a.linkMenu:hover  {
    color: #1f9e67;
}

.dropbtn {
    background-color: rgb(232, 232, 232);
    color: #0f4857;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    max-height: 400px;
    overflow-y: scroll;
}
  
.dropdown-content a {
    color: #0f4857;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: all 0.3s;
}
  
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: rgb(232, 232, 232);
    color: #0f4857;
}

li.ShopingCartLogo {
    background-image: url(../IMAGE/menu/ShopingCartLogo.png);
    background-size: cover;
    width: 54px;
    height: 50px;
    position: absolute;
    z-index: -1;
}
li.ShopingCartLogo:hover {
    background-image: url(../IMAGE/menu/ShopingCartLogoActive.png);
    background-size: cover;
}
span.ShopingCartCounter {
    display: inline-block;
    background-color: #1f9e67;
    font-size: 14px;
    width: 25px;
    height: 25px;
    font-weight: bold;
    position: absolute;
    z-index: 0;
    left: 20px;
    color: #0f4857;
}
.center {
    padding: 5px 5px;
    text-align: center;
    border-radius: 50%;
}
img.cart {
    width: 60px;
    height: auto;
    display: inline-block;
    border-radius: 10%;
    position: relative;
    bottom: 20px;
    right: 0;
    z-index: 0;
    box-shadow: 3px 3px 9px rgba(0,0,0,0.2);
}

div.detail {
    display: inline;
    margin: 0 50px;
}
div.detail span,ins,del {
    font-size: 10px;
    font-weight: bold;
    display: block;
    margin: 0 10px;
}
a.btn {
    background-color: #0f4857;
    color: white;
}
a.btn:hover {
    background-color: #1f9e67;
    color: black;
}
/* END MENU  */

/* START FOOTER  */
.footer {
    background-color: #0f4857;
    height: auto;
    color: white;
}
label.footerFont {
    font-weight: bold;
    font-size: 32px;
    display: block;
    color: white;
    margin-bottom: 20px;
}
div.footer div.box {
    margin: 5% 2%;
    max-width: 21%;
    font-size: 14px;
    vertical-align: top;
    color: white;
}
div.footer div.box button.footerBTN {
    background-color: inherit;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding: 5px;
    margin: 3px;
    transition: all 0.3s;
}

div.footer div.box button.footerBTN:hover {
    background-color: #1f9e67;
}

div.footer div.box p {
    color: white;
}
/* END FOOTER  */
