input[type="radio"], input[type="checkbox"] {
    accent-color: #1f9e67;
    font: inherit;
    width: 20px;
    height: 20px;
}
.checkout div {
    vertical-align: top;
}
.checkout {
    text-align: center;
    vertical-align: top;
    width: 100%;
    background-color: rgb(232, 232, 232);
}
.checkout > form {
    width: 100%;
}
div.partition {
    width: 100%;
    display: block;
    padding: 2% 0;
}
div.previousAddress {
    width: 48%;
    margin-left: 1%;
    display: inline-block;
}
div.previousAddress > label {
    display: block;
    padding: 1% 0;
    text-align: right;
    margin-right: 25%;
    font-size: 18px;
    font-weight: bold;
}
div.previousAddress > label > input[type="radio"] {
    margin-right: 10%;
}
div.newAddress {
    width: 48%;
    margin-right: 1%;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}
div.newAddress > label {
    display: block;
    padding: 1% 0;
    text-align: right;
}
div.newAddress > input[list="region"] {
    width: 85%;
    display: block;
    margin: 1% 0;
    padding: 1% 5% 1% 0;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10%;
}
div.newAddress > input[type="text"] {
    width: 85%;
    display: block;
    margin: 1% 0;
    padding: 1% 5% 1% 0;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10%;
    text-size-adjust: 10;
}
div.newAddress > input[list="region"]:focus {
    border: 1px solid #0f4857;
    transition: all 0.3s;
}
div.newAddress > input[type="text"]:focus {
    border: 1px solid #0f4857;
    transition: all 0.3s;
}
div.personalData {
    width: 48%;
    text-align: center;
    display: inline-block;
}
div.personalData > table {
    margin: 0 2%;
    width: 96%;
    text-align: center;
    vertical-align: center;
    border-collapse: collapse;
}
div.personalData > table > thead > tr > th {
    background-color: #0f4857;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 1% 0;
    border-radius: 5px;
}
div.personalData > table > tbody > tr > td {
    background-color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 1% 0;
}
div.personalData > table > tbody > tr {
    border-bottom: 1px solid rgba(15, 72, 87, 0.2);
}
div.personalData > table > tbody > tr:last-child {
    border-bottom: none;
}
div.personalData > table > tfoot > tr > th {
    background-color: #1f9e67;
    font-weight: bold;
    font-size: 18px;
    padding: 1% 0;
    color: white;
}
div.factor {
    width: 48%;
    text-align: center;
    display: inline-block;
}
div.factor > table {
    margin: 0 2%;
    width: 96%;
    text-align: center;
    vertical-align: center;
    border-collapse: collapse;
}
div.factor > table > thead > tr > th {
    background-color: #0f4857;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 1% 0;
    border-radius: 5px;
}
div.factor > table > tbody > tr > td {
    background-color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 1% 0;
}
div.factor > table > tbody > tr {
    border-bottom: 1px solid rgba(15, 72, 87, 0.2);
}
div.factor > table > tbody > tr:last-child {
    border-bottom: none;
}
div.factor > table > tfoot > tr > th {
    background-color: #1f9e67;
    font-weight: bold;
    font-size: 18px;
    padding: 1% 0;
    color: white;
}
div.partition > label {
    display: block;
    text-align: right;
    margin: 0 5% 1% 0;
    font-size: 18px;
    font-weight: bold;
}
div.partition > label > a {
    text-decoration: none;
    color: #1f9e67;
}
div.partition > input[type="submit"] {
    display: block;
    text-align: right;
    margin: 0 7% 1% 0;
    background-color: #0f4857;
    color: white;
    border-radius: 5px;
    padding: 1%;
    font-weight: bold;
}
div.partition > input[type="submit"]:hover {
    background-color: #1f9e67;
    transition: all 0.3s;
}
