.frequencyAndAnswer {
    background-color: rgb(232, 232, 232);
    text-align: center;
    padding-bottom: 20px;
}
.frequencyAndAnswer > h1 {
    text-align: right;
    padding-top: 20px;
}
.halfWidth {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}
.tabBox {
    width: 40%;
    margin: 2% 2.5%;
    display: inline-block;
    text-align: justify;
    vertical-align: top;
}
.tabBox >h2 {
    margin-bottom: 10px;
}
.tabBox >p {
    margin-bottom: 10px;
}
div.halfWidth > p {
    text-align: justify;
}
.headTab {
    background-color: #0f4857;
    height: auto;
    width: 100%;
    border-radius: 5px;
    border-bottom: 1px solid white;
}
.openedHeadTab > span {
    transform: rotate(90deg);
    transition: all 0.3s;
}
.headTab > p {
    color: white;
    padding: 10px ;
    display: inline-block;
}
.headTab >span {
    color: white;
    padding: 10px ;
    float: left;
}
.headTab:hover {
    background-color: #1f9e67;
    cursor: pointer;
    transition: all 0.3s;
}
.bodyTab {
    background-color: white;
    height: auto;
    width: 100%;
    border-radius: 5px;
    display: none;
}
.bodyTab > p {
    padding: 10px;
}
.openedBodyTab {
    display: block;
}

