img {
    cursor: pointer;
    z-index: -2;
}
.headerImage {
    text-align: center;
    display: block;
    width: 100%;
}
.rightHeader {
    display: inline-block;
    margin-left: 20px;
    width: 25%;
}

.leftHeader {
    display: inline-block;
    margin-right: 20px;
    width: 65%;
}

img.imgleft {
    width: 100%;
    height: 450px;
    display: block;
    border-radius: 5px;
    box-shadow: 3px 3px 9px rgba(15, 72, 87, 0.5);
}

img.imgRightTop {
    width: 100%;
    height: 215px;
    display: block;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 9px rgba(15, 72, 87, 0.5);
}

img.imgRightBottom {
    width: 100%;
    height: 215px;
    display: block;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 9px rgba(15, 72, 87, 0.5);
}

img.imgleft:hover {
    box-shadow: 3px 3px 9px rgba(31, 158, 103, 0.9);
    transition: all 0.6s;
}

img.imgRightTop:hover {
    box-shadow: 3px 3px 9px rgba(31, 158, 103, 0.9);
    transition: all 0.6s;
}

img.imgRightBottom:hover {
    box-shadow: 3px 3px 9px rgba(31, 158, 103, 0.9);
    transition: all 0.6s;
}
.partition {
    width: 100%;
    display: inline-block;
}
.partition > h1 {
    text-align: right;
    margin: 3% 10% 2% 2%;
    display: inline-block;
}

.partition > hr {
    border-top: 1px solid #0f4857;
    width: 50%;
    display: inline-block;
}

.lastProduct {
    width: 100%;
}

.lastProduct > .imageBox {
    vertical-align: top;
    display: inline-block;
    width: 20%;
    margin: 3px 5px;
}
.imageBox > a > img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 3px 3px 9px rgba(15, 72, 87, 0.5);
}

.imageBox > a > img:hover {
    box-shadow: 3px 3px 9px rgba(31, 158, 103, 0.9);
    transition: all 1s ease;
}
.secondImageBox {
    position: relative;
}
.secondImageBox > a > img {
    opacity: 0;
    position: absolute;
    transform: translate(50%, -102%);
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 3px 3px 9px rgba(31, 158, 103, 0.3);
}

.secondImageBox > a > div {
    z-index: -1;
    opacity: 0;
    color: white;
    font-size: 28px;
    padding: 5px 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
    transform: translate(0%, -110%);
    width: 100%;
    height: auto;
    background-color: #0f4857;
}
.imageBox > a > img:hover{
    opacity: 0;
}
.imageBox:hover > .secondImageBox > a > img{
    opacity: 1;
    z-index: -1;
}
.imageBox:hover > .secondImageBox > a > div{
    opacity: 1;
    z-index: -1;
}
.imageBox > .productName {
    display: block;
    margin: 10px 0;
    text-align: right;
}
.productName > a > p {
    display: inline-block;
    font-weight: bold;
}
.productName > a > p:hover {
    color: #1f9e67;
}
.productName > a > img {
    display: inline;
    float: left;
    width: 35px;
    height: 35px;
}
.imageBox > .tag {
    text-align: right;
    display: block;
}
.imageBox > .tag > span {
    color: #1f9e67;
    margin-left: 1%;
}
.imageBox > .price {
    display: block;
    text-align: right;
}
.imageBox > .price > del {
    display: inline-block;
    font-size: larger;
}
.imageBox > .price > ins {
    display: inline-block;
    font-size: larger;
}

.menProduct {
    width: 100%;
}

.menProduct > .imageBox {
    vertical-align: top;
    display: inline-block;
    width: 15%;
    margin: 3px 5px;
    font-size: small;
}

.womenProduct {
    width: 100%;
}

.womenProduct > .imageBox {
    vertical-align: top;
    display: inline-block;
    width: 15%;
    margin: 3px 5px;
    font-size: small;
}